---
import { published } from '@data/post';
import Blog from '@layouts/blog';
import Preview from '@components/blog/preview';

const markdownFiles = await Astro.glob('../content/**/*.mdx');
const posts = published(markdownFiles);
---

<Blog>
  <div>
    {posts.map((p, index) => <Preview key={index} post={p} />)}
  </div>
</Blog>
